<%- include('./partials/header.ejs') %>

    <body>

        <div class="container-fluid">
            <div class="row">
                <!-- Navbar (proporção 2) -->
                <div class="col-md-1" id="navb">
                    <section>
                        <%- include('./partials/navbar.ejs') %>
                    </section>
                    <!-- Conteúdo da Navbar -->
                </div>

                <!-- Div de Input (proporção 5) -->
                <div class="col-md-6 bg-success top-spacing" id="inputText">
                    <form method="post" action="/cadastradoSuccess">
                        <div class="">
                            <label for="campoTexto" class="form-label">Nome do motorista</label>
                            <input type="text" class="form-control custom-input" id="campoTexto" placeholder="Digite algo..."
                                name="motorista" required>
                        </div>
                        <div class="">
                            <label for="campoNumber" class="form-label">Matricula</label>
                            <input type="number" class="form-control custom-input" id="campoNumber" placeholder="Digite algo..."
                                name="matricula" required>
                        </div>
                        <div id="btn">
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                    <!-- Conteúdo da Div de Input -->
                </div>

                <!-- Div de Texto (proporção 5) -->
                <div class="col-md-5 bg-danger" id="showTable">
                    <hr>
                    <h3>Motoristas Cadastrados</h3>
                    <hr>
                    <div class="scrollbar">

                        <% motoristas.forEach(motorista=> {%>

                            <div class="card" id="card<%=motorista.matricula %>">
                                <label class="card-check-label" for="<%=motorista.matricula %>">
                                    <div class="card-body">
                                        <input class="check-card-input" type="checkbox" id="<%=motorista.matricula %>"
                                            onchange="changeCardColor('card<%=motorista.matricula %>','<%=motorista.matricula %>')"
                                            hidden>
                                        <%= motorista.name +" "+ motorista.matricula %></input>
                                     </div>
                                </label>
                             </div>
                                      <% })%>
                        </div>
            </div>
            </div>
        </div>


    </body>
    <%- include('./partials/footer.ejs') %>
    <script>
        // função para estilzar a checkbox selecionada dinamicamente
        function changeCardColor(cardId, checkboxId) {
            let card = document.getElementById(cardId);
            let checkbox = document.getElementById(checkboxId);


            if (checkbox.checked) {
                card.classList.add('selected-card');
            } else {
                card.classList.remove('selected-card');
            }
        }

    </script>