<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cadastroHora.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Navbar (proporção 2) -->
            <div class="col-md-1" id="navb">
                <section>
                    <%- include('./partials/navbar.ejs') %>
                </section>
                <!-- Conteúdo da Navbar -->
            </div>

            <!-- Div de Input (proporção 5) -->
            <div class="col-md-6" id="container-central">

                    <div class="diasSemana">
                        <h2>Selecione o dia</h2>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Seg" name="Segunda Feira" onclick="selectDay(Seg)">Seg</button>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Ter" name="Terça Feira" onclick="selectDay(Ter)">Ter</button>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Qua" name="Quarta Feira" onclick="selectDay(Qua)">Qua</button>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Qui" name="Quinta Feira" onclick="selectDay(Qui)">Qui</button>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Sex" name="Sexta Feira" onclick="selectDay(Sex)">Sex</button>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Sab" name="Sabado" onclick="selectDay(Sab)">Sab</button>
                        <button type="button" class="btn btn-outline-light custom-btn" id="Dom" name="Domingo" onclick="selectDay(Dom)">Dom</button>
                    </div> 

                    <div class="addTime">
                        <input type="time" id="hora">
                        <button onclick="colect()">Cadastrar Novo Horario</button>
                    </div>
                    <div>
                       <label for="tipoHora">
                           <input type="checkbox" id="tipoHora">Horario de Retorno </input>       
                    </label>
                    </div>


                        <div class="horariosTable">
                            <div class="" id="showTable">
                                    <div id="card-table">
                                     <div id="text"><H5>HORARIOS DO DIA</H5></div>   
                                        <div class="container-table">
                                            <div class="horariosIda">
                                                IDA
                                                <% HorariosIda.forEach(horarioI=>{ %>
                                                    <label id="cardI<%= horarioI.id %>" class="card" for="I<%= horarioI.id %>"> <input type="checkbox" name="05:40" id="I<%= horarioI.id %>" onclick="changeCardColor('cardI<%= horarioI.id %>','I<%= horarioI.id %>')"hidden><%= horarioI.horario %></label>    
                                               <% }) %>
                                            </div>
                                            <ul class="horariosRetono">
                                                RETORNOS
                                                <% HorariosRetorno.forEach(horarioR=>{ %>
                                                    <label id="cardR<%= horarioR.id %>" class="card" for="R<%= horarioR.id %>"> <input type="checkbox" name="05:40" id="R<%= horarioR.id %>" onclick="changeCardColor('cardR<%= horarioR.id %>','R<%= horarioR.id %>')"hidden><%= horarioR.horario %></label>    
                                               <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
            </div>          
                        
            <div class="col-md-5" id="container-finish">
                <div class="teste">
                    <h1>shau9hdjiashdjihsauihdusiah</h1>
                </div>
            </div>
        </div>       
    </div>


</body>
<%- include('./partials/footer.ejs') %>
    <script src="/js/cadastroHora.js"></script>